.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: steelblue;
}
.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  background: white;
}
.container h1 {
  text-align: center;
  margin: 1rem;
}
.answer {
  margin: 1rem;
}
.bttn {
  background-color: rgb(207, 16, 16);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .container {
    width: auto;
  }
}
